.section-container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 57px;
    .section-content{
        max-width: 1186px;
        width: 100%;
        padding: 0 10px;
        .section-header{
            margin-bottom: 27px;
        }
        .content{
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            .card{
                max-width: 362px;
                min-height:357px;
                width: 100%;
                .card1-header{
                    background-image: url(image/1.svg);
                    padding: 32px 137px 131px 41px;
                    b{
                        font-size: 20px;
                        color: white;
                        font: 800;
                    }
                }
                .card2-header{
                    background-image: url(image/2.svg);
                    padding: 32px 137px 131px 41px;
                    b{
                        font-size: 20px;
                        color: white;
                        font: 800;
                    }
                }
                .card3-header{
                    background-image: url(image/3.svg);
                    padding: 32px 137px 131px 41px;
                    b{
                        font-size: 20px;
                        color: white;
                        font: 800;
                    }
                }
                .card-content{
                    padding: 68px 87px 40px 37px;
                    background-color: white;
                    .card-text{
                        max-width: 238px;
                        width: 100%;
                        display: flex;
                        font-size: 10px;
                        color: #8A8787;
                        margin-bottom: 14px;
                        
                    }
                    .card-footer{
                        display: flex;
                        gap: 11px;
                        span{
                            font-size: 10px;
                            color: #8A8787;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}