@use "font";
@use "color";
@use "reset";

body{
    header{
        .header-container{
            max-width: 1440px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .header-content{
                max-width: 1186px;
                padding: 0px 10px;
                width: 100%;
                nav{
                    ul{
                        display: flex;
                        max-width: 351px;
                        width: 100%;
                        justify-content: space-between;
                        li{
                            
                        }
                    }
                }
            }
        }
    }
}